/* src/HomePage.css */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.bg-image {
  background-image: url("../background.png");
  height: 100vh; /* Makes the div take up the full height of the viewport */
  width: 100%; /* Makes the div take up the full width of the viewport */
  position: fixed; /* Keeps the background fixed in place */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  top: 0;
  left: 0;
  z-index: -1; /* Puts the background behind other elements */
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0 10%;
  /* color: white; */
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* .input-field {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 300px;
} */

.select-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.readonly-field {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  width: 200px;
}

.submit-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}
